<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'avatar.png', alt: "profile photo", class: 'avatar-bordered' %>
    <h1 class="title-main mt-2">Matthew Davies - Portfolio</h1>
    <br>
    <h3>Ruby | Rails | HTML | CSS | JS | Git | GitHub | Postresql</h3>
    <h3>
      <i class="devicon-ruby-plain mx-1" style="font-size:3vw"></i>
      <i class="devicon-rails-plain mx-1" style="font-size:3vw"></i>
      <i class="devicon-html5-plain mx-1" style="font-size:3vw"></i>
      <i class="devicon-css3-plain mx-1" style="font-size:3vw"></i>
      <i class="devicon-javascript-plain mx-1" style="font-size:3vw"></i>
      <i class="devicon-git-plain mx-1" style="font-size:3vw"></i>
      <i class="devicon-github-plain mx-1" style="font-size:3vw"></i>
      <i class="devicon-postgresql-plain mx-1" style="font-size:3vw"></i>
    </h3>
  </div>
</div>
