<div class="row my-5">
  <div class="col-12">
    <h2 class="mb-3">Contacts</h2>
    <div id="contact">
      <div class="d-flex justify-content-center flex-wrap mb-5">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-envelope" style="font-size: 64px"></i>
          <%= mail_to "m.davies.work@gmail.com", "", class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github" style="font-size: 64px"></i>
          <%= link_to "", "https://github.com/mdavies1992", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin" style="font-size: 64px"></i>
          <%= link_to "", "https://www.linkedin.com/in/matthew-c-davies/", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
