<div class="container ">
  <!-- Banner Section -->
  <div class="container row">
    <%= partial 'partials/banner' %>
    <!-- About Section -->
    <%= partial 'partials/about' %>
  </div>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
